<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
       autoReload="true"
       throwExceptions="false"
       internalLogLevel="Error" internalLogFile="c:\nlog-internal.log">
  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="1000">
      <wrapper-target xsi:type="AsyncWrapper" />
    </default-wrapper>
    <target xsi:type="File"
            name="PigletCsharpTarget"
            fileName="${nlogdir}/Logs/Piglet/${date:format=yyyy-MM}/${shortdate}/${level}.txt"
            layout="/********************************/${newline}Current TimeStamp：${date:yyyy/MM/dd HH\:mm\:ss}${newline}${newline}${message}${newline}/********************************/${newline}" />
  </targets>
  <rules>
    <logger name="PigletCsharp" minlevel="Trace" writeTo="PigletCsharpTarget" final="true" />
  </rules>
</nlog>